<div class="register-now prefix_4">
			<%= link_to "Register for your account", register_path %>
		</div>
		
	<section class="grid_8 alpha">
		<p class="section-tags">Fresh Skills</p>
		 <ul class="SW-profiles grid_8">
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	
		 </ul>
		 
		 <p class="section-tags">New Jobs</p>
		 <ul class="SW-profiles grid_8">
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 	<li></li>
		 </ul>

	</section>	
	
	<aside class="grid_4 omega">
	
		<nav>
			<ul>
				
			
			</ul>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			
			</ul>
		
		</nav>
	
	</aside> 			
	
	
				




