
	<div class="grid_5 prefix_1">
	<h6> Log in with Username + Password</h6>
	<form method="post" action="/login">
		<label for ="username">Username</label>
		<input id="username" type="text" value="" name="username" placeholder="username">
		<label for ="password">Password (<a href="#">forgot?</a>)</label>
		<input id="username" type="password" value="" name="username" maxlength="50" placeholder="password">
		<input id="register-now" class="submit" type="submit" value="Log in" name="submit">		
	
	</form>
	</div>
	
	<div class="grid_4 prefix_1">
		<h6>Register for an account</h6>
		
		<p class="social-connect">
		<a href="#" class="register-btn-facebook">connect with Facebook</a>
		<br/>
		<a href="#" class="register-btn-twitter">connect with Twitter</a>
		<br/>
		We will <strong>Never</strong> post anything on your wall or Twitter feed without your permission.</p>
	
	</div>
	
	
