<header class="grid_12">

	
				
				<div class="but-gray-medium buttons signin">
				<a href=""><span class="but-icon"></span>Sign In</a>
			</div>
			
	
			<h1><%= link_to "RUNAWAY CUBICLE", root_path %></h1>
			<h3>Connecting <%= link_to "skilled workers", '#' %> with <%= link_to "the jobs", '#' %>  that need them.</h3>
			
		
		<div class="clearfix"></div>
		
		
	
	</header>